@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Cinzel:wght@400;500&family=Great+Vibes&family=Island+Moments&family=Oswald:wght@600&family=Satisfy&family=Silkscreen&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Cinzel:wght@700&family=Great+Vibes&family=Island+Moments&family=Oswald:wght@600&family=Satisfy&family=Silkscreen&family=Uchen&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Cinzel:wght@700&family=Great+Vibes&family=Island+Moments&family=Lobster&family=Marhey:wght@500&family=Oswald:wght@600&family=Satisfy&family=Silkscreen&family=Uchen&display=swap');*/

*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;}

html{
    overflow-x: hidden;}

.header{
    position: fixed;
    display: flex;
    align-items: center;
     background-color: white;
     top: 0px;
    width: 100%; 
}
.logo {
    margin-left: 5rem;
height: 100px;
width: 100px;
padding-right: 15rem;
padding-bottom: 1rem;


}
.navbar{
    
background-color:rgb(255, 255, 255);
height: 8rem;
padding-top: 2rem;


}
.navbar-list{

display: flex;
gap: 5rem;
list-style: none;
align-items: center;
justify-content: center;
font-size: 20px;
padding-top: 30px;
font-family: 'Cinzel', serif;

/*font-family: 'Oswald', sans-serif;*/



}
.navbar-link{

text-decoration: none;
color: rgb(0, 0, 0); 
}


.navbar-link:hover{
text-transform: uppercase;
text-decoration: underline;
}
.mobile-navbar-btn {
    display: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}
.line{
    border-bottom: 4px solid rgb(243, 201, 86);
    margin-top: 9.8rem;
    width: 100%;
    position: fixed;
}
.head{
    display: flex;
    margin-top: 14rem;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel', serif;

}

.bigcontainer{
    display: grid;
    grid: auto/auto auto auto auto;
    gap: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    
    
}
.smallcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(243, 201, 86);
    background-color: rgb(0, 0, 0);


    
    
    overflow: hidden;


}
.smallcontainer img{
transition: transform 2s;

}
.smallcontainer:hover img{
    transform: scale(1.5);
}

.foot{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 180px;
     background-color:rgb(231, 228, 228);
    
    
}
.line1{
    border-bottom: 4px solid rgb(243, 201, 86);
    
    width: 100%;
    
}

.foot .follow a{
    display: inline-block;
    font-size: 35px;
    margin: 1rem;
    color: rgb(17, 16, 16);
    
}
.follow{
    padding-top: 2rem;
    width: 35%;
    
}
.follow a:hover{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);   
}

.f5{
    color: #000000;
    margin-left: 4rem;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

.signin{
    width: 50%
       
}
.signin .btn{
    display: none;
    margin: 4rem;
    margin-top: 6rem;
    margin-right: 0;
  font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    color:white;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    
}
.btn:hover{
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-color: #999999;
}


.footerright{
    width: 25%;
    margin-right: 3rem;
    
    

}
.para{
    color: #000000;
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 12px;
}
@media (max-width:65em){
    

    
   
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        color: #ffffff;
      padding-top: 3rem;
        padding-right: 20px;
        

    }
    
    .header {

        
 position: relative;
 align-items:flex-start;
 
 
 }
 .head{
    margin-top: 4rem;
 }

    .active.header{
        position:fixed;
        bottom: 0;
        
}
.line{
    
    position: absolute;
    margin-top: 10rem;
}



    .logo {
        
        height: 60px;
        width: 60px;
        padding-top: 3rem;
    margin-left: 10px;}
        .navbar {
            /* display:none;*/
            width: 100%;
            height: 100vh;
            background: #ffffff;
            position:absolute;
            top: 0;
            left: 0;
            
            
    
            display: flex;
            justify-content: center;
            align-items: center;
            
    
            transform: translateX(100%);
            transition: all 0.5s linear;
    
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
    
    }
    .navbar-list {
        
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .navbar-link{
        color: rgb(0, 0, 0);
    }
    .active .navbar {
        padding-top: 4rem;
        
        position:fixed;
        transform: translate(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn[name="menu-outline"] {
        display:none;
    }
    .bigcontainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
    .smallcontainer img{
        width: 100%;
    }
    .foot{
        position:static;
       display: flex;

       flex-direction: column;
       align-items: center;
       justify-content: center;
       bottom: 0px;
    
       
       
       
   }
   .follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 3rem;
    
    
    
     }
.f5{
    padding-right: 70px;
    font-size: 15px;
}
.social{
    display: flex;
    flex-direction: row;
    
    
 
    
    
}
.footerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    
    
    

      }

.para{
    padding-left: 100px;
    margin-bottom: 2rem;
     
    
    
}
}